:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
    --pink: #F8C8DC;
}

.light-theme {
    --bg: var(--pink);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
    --photoBg: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
    --photoBg: var(--green);
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: monospace;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

#centered-text {
    text-align: center;
}

#colourTheme {
    margin: auto;
    width: 50%;
    text-align: center;
    /*display: inline-block-block;*/
}

.btn {
    /*position: absolute;*/
    display: inline;
    /*top: 20px;
    left: 250px;*/
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.photoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: var(--photoBg);
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    /* display:block makes the div resize to fit the size of the image */
}

.photoText {
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.h-img {
    max-width: 60%;
    height: auto;
    /*
    width: 666px;
    height: 444px; */
}

.h-img-small {
    max-width: 30%;
    height: auto;
    /*
    width: 222px;
    height: 111px; */
}

.v-img {
    max-height: 50%;
    max-width: 25%;
    /*
    width: 111px;
    height: 333px; */
}